.fishCard {
    display: flex; 
    border: 2px white solid;
    flex-direction: column-reverse; 
    align-items: center;
    flex-basis: 30%;
    /*align items and border black*/
    background-color: darkgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 4);
    transition: 0.3s;
    border-radius: 5px;
}

.fishCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
}

.fishCard_img {
    width: 25%;
}

.fishList {
    text-align: center;
    font-size: 30pt;
    font-weight: bolder;
    color: black;
    font-family: Georgia;
}

.containerLeft__fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fishCard__name {
    text-align: center;
    font-size: 20pt;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}