.fishCard {
    display: flex; 
    border: 2px white solid;
    flex-direction: column-reverse; 
    align-items: center;
    flex-basis: 30%;
    /*align items and border black*/
}

.fishCard_img {
    width: 25%;
}

.fishList {
    text-align: center;
    font-size: 30pt;
    font-weight: bolder;
}

.containerLeft__fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fishCard__name {
    text-align: center;
    font-size: 10pt;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}