.contactContainer {
    display: flex; 
    border: 1px solid white;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
}

.socialContainer1 {
    text-align: center;
    font-size: 30pt;
    font-weight: bolder;   
}