@import "./header.css";
@import "./footer.css";
@import "./tips.css";
@import "./locations.css";
@import "quotes.css";
@import "fish.css";

.contetArticle {
    background-color: aqua;
}

.contentContainer{
    display: flex;
    justify-content: space-between;
}

.containerLeft {
    flex-basis: 75;
}

.containerRight {
    flex-basis: 25%;
    border: 2px solid white;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    justify-content: space-around;
    color: black;
}

body {
    background-image: url(https://wallpaperaccess.com/full/480799.jpg);
    background-size: cover;
}

.navBar {
background-color: lightgray;
font-size: medium;
color: black;
text-align: center;

}
