@import "./header.css";
@import "./footer.css";
@import "./tips.css";
@import "./locations.css";
@import "quotes.css";
@import "fish.css";

.contetArticle {
    background-color: aqua;
}


.contentContainer{
    display: flex;
    justify-content: space-between;
}

.containerLeft {
    flex-basis: 75;
}

.containerRight {
    flex-basis: 25%;
    border: 2px solid white;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    
    color: black;
}



.travelTips {
    display: flex;
    /* border:2px purple solid; */
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 12pt;
    flex-basis: 15%;
    /* height: 100px;
    max-width: 400px; */
    justify-content: space-between;
    text-align: center;
    margin:30px;
    flex-direction:row;
    width:100px;
    height:80px;
    border:2px rgb(126, 8, 53) solid;
  border-radius:  25px; 
    padding:20px; /* this */
    

}

body {
    background-image: url(https://wallpaperaccess.com/full/480799.jpg);
    background-size: cover;
}

.navBar {
background-color: lightgray;
font-size: medium;
color: black;
text-align: center;

}
